/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */


body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

/*Main navi */

.navbar{

    background-color: #bdc3c7;
}

.navbar-nav li a:link,
.navbar-nav li a:visited {

    color: #000;
    text-decoration: none;


    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;

}

.navbar-nav li a:hover,
.navbar-nav li a:active {
    border-bottom: 2px solid #ff0000;

}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

section {
    padding: 45px 10px;
}

.back-btn{

    margin-top: -20px;
    margin-left: 0px;
}

.go-btn{


    margin-left: 10px;
}

.save-btn{
    padding: 5px 19px;
    margin-top: 0px;
    margin-left: 0px;
}

footer {
    margin: 50px 0;
}







